html {
    scroll-padding-top: var(--nav-footer-height);
    --margins-small: 1fr 85% 1fr;
    --nav-footer-height: 3rem;
    --gray-color: rgb(204, 204, 204);
    --border-radius: 6px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}



body {


    font-family: Helvetica, Arial, sans-serif;
    display: grid;
    grid-template-areas: 'nav'
        'main'
        'footer';
    grid-template-rows: var(--nav-footer-height) 1fr var(--nav-footer-height);

}




nav,
footer {
    background-color: black;
    height: var(--nav-footer-height);
    width: 100%;
    align-items: center;
    
}

nav {
    xgrid-area: nav;
    display: grid;
    grid-template-areas: '. nav .';
    grid-template-columns: var(--margins-small);
    xtop: 0;
    position: fixed;

}


main {
    grid-area: main;
    display: grid;
    grid-template-areas: '. header .'
        '. content .';
    grid-template-columns: var(--margins-small);
    grid-template-rows: auto 1fr;
    xoverflow-y: auto;

}

footer {
    xgrid-area: footer;
    color: white;
    display: grid;
    grid-template-areas: '. footer-text .';
    grid-template-columns: var(--margins-small);
    bottom: 0;
    position: sticky;
    grid-area: footer;

}

footer span {
    grid-area: footer-text;
}


nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    grid-area: nav;
}

nav li {
    display: inline;
}

nav a {
    margin-right: 1rem;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: red;
    text-decoration: underline;
}

header {
    grid-area: header;
    text-align: center;
    background-color: var(--gray-color);
    padding: 1.5rem;
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

header h1 {
    text-transform: uppercase;
}

.content {
    grid-area: content;
    display: grid;
    grid-auto-rows: max-content;
    ;
}

#products {
    display: grid;

}

h3 {
    margin-top: 30px;
}

#products h4 {
    text-align: center;
}

p {
    text-align: justify;
    margin-bottom: 5px;

}

#products img,
video {
    width: 100%;

}

.product {
    margin-bottom: 10px;
}

#sign-up {
    display: grid;
    background-color: var(--gray-color);
    border-radius: var(--border-radius);
    padding: 20px;
}


#sign-up h3,
label,
input {

    text-transform: capitalize;
    justify-self: center;

}

#sign-up h3 {
    margin-top: 10px;
    margin-bottom: 15px;
}

#sign-up input {
    box-shadow: rgba(0, 0, 0, 0.518) 2px 2px 2px 1px;
    border-radius: var(--border-radius);
}

#sign-up input[type="submit"] {
    border: 0px;
    width: fit-content;
    height: fit-content;
}


#sign-up label {

    margin-bottom: 4px;
}

#financials {
    min-width: 0;
}

#financials-scroll-container {
    overflow-x: auto;

}

#financials-scroll-container table {
    margin: auto;
}


#financials-scroll-container table,
td,
th {
    border: 2px solid black;
    border-collapse: collapse;
}

th {
    text-align: center;
}

td {
    text-align: right;
}

td:nth-child(1) {
    font-weight: bold;
}

td:nth-child(6) {
    color: red;
}

tr:not(:last-child):not(:first-child):hover {
    background-color: rgb(169, 244, 255);
}

tr:nth-child(even):not(:last-child) {
    background-color: rgb(237, 223, 255);
}

#financials-scroll-container caption {
    text-align: center;
    font-weight: bold;
    padding: 20px;
}


@media (width >=800px) {
    #products {
        grid-template-areas: 'title title title'
            'product1 product2 product3';
        grid-template-columns: repeat(auto-fit, 1fr);
        ;
    }

    .products-intro {
        grid-area: title;
    }

    .product {
        padding: 0 7px;
        margin-bottom: 30px;
    }



    .product:not(.products-intro):nth-child(odd) {
        border-left: 1px solid black;
        border-right: 1px solid black;
    }


}

@media (width >=1000px) {
    form {
        grid-template-areas: 'title title title'
            'name email submit';
        grid-template-columns: repeat(3, max-content);
        column-gap: 10px;
        justify-content: center;
    }

    #sign-up h3 {
        grid-area: title;

    }

    #sign-up label:has(input[name="name"]) {
        grid-area: name;
    }

    #sign-up label:has(input[name="email"]) {
        grid-area: email;
    }

    #sign-up input[type="submit"] {
        grid-area: submit;
    }
}