html {
    background-color: rgb(34, 160, 160);
}

body {
    height: 100vh;
    max-width: 800px;

    flex-wrap: wrap;
    margin: auto;
    display: grid;
    justify-content: center;
    column-gap: 10vw;
    align-items: center;
    grid-template-areas: 'dice1'
        'dice2'
        'dice3'
        'dice4'
        'dice5'
        'dice6';

    @media (600px <=width) {
        grid-template-areas: 'dice1 dice2'
            'dice3 dice4'
            'dice5 dice6';
    }

    @media (800px <=width) {
        grid-template-areas: 'dice1 dice2 dice3'
            'dice4 dice5 dice6';
    }

    @media (1000px <=width) {
        grid-template-areas: 'dice1 dice2 dice3 dice4 dice5 dice6';
        column-gap: 5vw;
    }

}











.dice {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 4px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-areas: 'a1 a2 a3'
        'a4 a5 a6'
        'a7 a8 a9';
    align-items: center;
    justify-items: center;
    position: relative;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.6);
    transition-duration: 0.2s;
}

.dice:hover {
    transform: scale(1.2);
    background-color: black;
    border: 4px solid white;
    transition-duration: 0.2s;
}





.dice:hover .dot {
    background-color: white;
    transition-duration: 0.2s;
}


.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    display: none;
}




#dice1 .dot1,
#dice3 .dot1,
#dice5 .dot1 {
    display: block;
    grid-area: a5;
}

.dice:not(#dice1) .dot2 {
    display: block;
    grid-area: a9;
}

.dice:not(#dice1) .dot3 {
    display: block;
    grid-area: a1;
}

#dice4 .dot4,
#dice5 .dot4,
#dice6 .dot4 {
    display: block;
    grid-area: a7;
}

#dice4 .dot5,
#dice5 .dot5,
#dice6 .dot5 {
    display: block;
    grid-area: a3;
}

#dice6 .dot1 {
    display: block;
    grid-area: a4;
}

#dice6 .dot6 {
    display: block;
    grid-area: a6;
}











#dice1 {
    grid-area: dice1;
}

#dice2 {
    grid-area: dice2;
}

#dice3 {
    grid-area: dice3;
}

#dice4 {
    grid-area: dice4;
}

#dice5 {
    grid-area: dice5;
}

#dice6 {
    grid-area: dice6;
}