body{
    padding-left: 5px;
    padding-right: 5px;
}
header {
    font-size: 25px;
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid #e0e0e0;
  margin-bottom: 10px;
}

header a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.2s;
}

header a:hover, .user-card:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.active {
    background-color: #f5f5f5;
}
.user-card{
    text-align: center;
    border : 1px solid black;
   border-radius: 10px;
    height: 175px;
    width: 300px
}
.user-card-div{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.user-header{
    text-align: center;
    border : 1px solid black;
   border-radius: 10px;
    height: 175px;
    width: 100%;
    margin: 0 auto 20px auto;
    padding-top: 10px;
    
}

.posts-list {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;


}

.visible{
    display: block;
}

.hidden{
    display: none;
}   

.comments-box {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-size: 0.7rem;
}

.post-card {
    width: 100%;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    
}